img{
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

.des{
  margin-left: 10px;
  margin-right: 7px;
  margin-top: 5px;
  color: lightcyan;
}

.boldbig{
  font-weight: bolder;
  font-size: larger;
  font-family: 'Paragraph';
}